html {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	line-height: 30px;
}

a, a:visited {
	color: red;
}

a:hover {
	color: grey;
}

.nav {
	float: right;
}

.example {
	padding: 20px;
	background-color: silver;
}

.flexbox-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.flexbox-container .column {
	width: 50%;
	padding: 10px;
}

.flexbox-container .column:first-child {
	margin-right: 20px;
}

.address-list {
	list-style: none;
}
